.container {
    width: 100%;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);
    z-index: 1000;
    top: 0;
    position: sticky;
    overflow-x: scroll;
}
.container.m-0{
    margin: 0;
}

.navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    height: 6rem;
}

.navbar__logo {
    margin-left: 1rem;
}

.navbar__logo img {
    height: 3rem;
}

.navbar__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.navbar__username > span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #3570ca;
    margin-left: 1rem;
}

.navbar__user a {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-left: 1rem;
}

.navbar__icon a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-left: 1rem;
}

.navbar__icon > a > span {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

.navbar__icon a:link,
.navbar__icon a:visited {
    color: black;
    text-decoration: none;
}

.navbar__icon a:hover {
    color: #3570ca;
    cursor: pointer;
    border-bottom: 2px solid #3570ca;
}

@media only screen and (max-width: 768px) {
    .navbar__logo {
        margin-left: 0;
    }
    
    .navbar__logo img {
        height: 2rem;
    }

    .navbar__icon a {
        padding: 0;
        margin-left: 0.5rem;
    }

    .navbar__icon > a {
        display: flex;
        flex-direction: column;
    }

    .navbar__icons {
        margin: 0;
    }

    .navbar {
        padding: 1rem;
    }
}
